body{
  background-color: white;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  display: grid;
 
}
a{
  text-decoration: none;
}

nav{
 
  background:black;
  display: flex;
  justify-content:space-around;
  padding: 15px;
  margin: 20px;
  font-weight: bold;
  align-items: center;

}

.navLink{
  text-decoration: none; 

  color: white;
 
  font-size: 17px;
}


.navLink:hover{
  color:#829460;
  text-shadow: 1px 1px 1px black;
}



.product{ 
 display: flex;

flex-wrap: wrap;
}



.container{
  flex-wrap: wrap;
  display: flex;

  justify-content: center;
}


.product-card{
  padding: 2%;

  flex-grow: 1;

  flex-basis: 16%;
}

img{
  border-radius: 20px;
 

}
.hover-image-scale {
  display: inline-block; 
  overflow: hidden; 
  border-radius: 20px;
}
.hover-image-scale img {
  transition: 1s; 
  display: block; 
}
.hover-image-scale img:hover {
  transform: scale(1.2);
  border-radius: 20px; 
}
.position{
  display:flex;
  flex-direction:column;
}
.btn{
  margin: 20px;
  padding: 13px;
  
  font-size: 20px;
  border: solid 1px black ;


  text-shadow: 0.3px 0.3px black;

  box-shadow: 1px 1px 1px 1px grey;
}

.btn:hover{
  transform: scale(1.1);
  background-color: black;
  color: white;


}

h1, h2, h3{

  color:#1b1b1b;
}



.itemName{
  
  color:#1b1b1b;
  font-size: 20px;
  text-shadow:0.5px 0.5px 0.5px #8B7E74;
}
.cont{
  display: flex;
  justify-content: center;
}
.text{

  color:#1b1b1b;
  font-size: 25px;
}

.white{
  background: white;
  border-radius: 100px;
  box-shadow: 2px 2px 2px 2px white;
}






/***main**/
.main{
  background-color: #cdf554;
}

.main-p{
  color: #9b25e5;
  font-size: 30px;
  font-weight: 700;
}





/******item***/
.container-item {
  position: relative;

  overflow: hidden;
  width: 520px;
  height: 350px;
  background: white;
  box-shadow: 2px 2px 7px #222222;
  border-radius: 10px;
  margin-left: 50px;
}

p {
  font-size: 13px;
  color: black;
  font-weight: 400;
  letter-spacing: 1px;
}

h1 {
  font-size: 18px;
  color: #4E4E4E;
  margin-top: -5px;
}

h2 {
  color: black;
  margin-top: -5px;
}

img {
  width: 290px;
  margin-top: 47px;
}

.slideshow-buttons {
  top: 70%;
  display: none;
}

.one, .two, .three, .four {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #E0C9CB;
}

.one {
  left: 22%;
}
.two {
  left: 27%;
}
.three {
  left: 32%;
}
.four {
  left: 37%;
}

.product-descriprion {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 10%;
  left: 60%;
}

.desc {
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 13px;
  color: #4E4E4E;
  font-size: .7em;
  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;
}

.add {
  background:#222222;
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: -1px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #F5F5F5;
  cursor: pointer;
}

.add:hover {
    background: white;
    transition: all .4s ease-in-out;
    border: 1px solid #222222;
    color: #222222;
  }


.add {
  width: 67%;
}

.like {
  width: 22%;
}

.sizes {
  display: grid;
  color: #222222;
  grid-template-columns: repeat(auto-fill, 30px);
  width: 60%;
  grid-gap: 4px;
  margin-left: 20px;
  margin-top: 5px;

}

 .sizes:hover {
    cursor: pointer;
  }


.pick {
  margin-top: 11px;
  margin-bottom:0;
  margin-left: 20px;
}

.size {
  padding: 9px;
  border: 1px solid #222222;
  font-size: 0.7em;
  text-align: center;
}
.size:hover{
    background: #222222;
    color: #F5F5F5;
    transition: all .4s ease-in-out;
  }



 /*Footer*/
ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {

position: relative;
margin-top: 100px;
background-color:#f4f4f4;

}
.container-footer{
  margin-left: 50px;
  margin-right: 50px; 
}



.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}



.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}


.footer-widget-heading h3 {
color: black;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;

}
.footer-widget ul li {
display: inline-block;

width: 50%;
margin-bottom: 12px;
}

.footer-widget ul li a {
color: #878787;
text-transform: capitalize;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;

border: 1px solid #2E2E2E;
color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
   
  padding: 13px 20px;
  border: 1px solid black;
  top: 0;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}

.footer-icon{
  height: 50px;
  width: 50px;

}
.icon{
  height: 30px;
  width: 30px;
  color: #1b1b1b;
}
